/*! custom.scss | Pastel */

/* ==========================================================================
Nephos/CSS Ninja theme customization
========================================================================== */
@import 'partials/colors';

.account-title {
  margin-bottom: 5rem;
}

.balance-col {
  flex-basis: auto !important;
}

.main-wrapper {
  padding-left: 7em !important;
}

.expandable-header {
  justify-content: normal !important;
  padding-left: 5px !important;
  color: $muted-grey-bold;
  font-weight: 500;
  cursor: pointer;
}

.break-all {
  word-break: break-all;
}

.send-psl-card-body {
  padding: 40px !important;
}

.send-psl-form {
  width: 100% !important;
}