.wrapper {
  overflow: scroll;
  margin-left: var(--menu-width);
  width: calc(100vw - var(--menu-width));
  padding: 30px 20px 0 20px;
}

.balance {
  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
    margin-bottom: 16px;
  }
  span {
    font-size: 22px;
    font-weight: bold;
    line-height: 137%;
    color: var(--green-balance);
  }
}

.pastelid {
  color: var(--black);
  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  span {
    color: var(--black);
    word-break: break-all;
    font-size: 10px;
  }
}

.info {
  color: var(--black);
  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 24px;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    li {
      font-size: 14px;

      div:first-child {
        font-weight: bold;
      }
      div:last-child {
        color: var(--text-grey);
      }
    }
  }
}