/*! custom.scss | Pastel */

/* ==========================================================================
Nephos/CSS Ninja theme customization
========================================================================== */

.account-title {
  margin-bottom: 5rem;
}

.balance-col {
  flex-basis: auto !important;
}

.main-wrapper {
  padding-left: 7em !important;
}