# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
/dist

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pynode.log

public.key
private.key
python_interface/keys

keys
pasteld_binary/pasteld
pasteld_binary/main.cpp

*.db
src/main_electron_built.js
src/main_built.js
src/main/main_built.js
src/main/build/

thumbnails/
thumbnails/*
