@import 'common';

$input-border: #BDBDBD;
$input-font-color: #616161;
$register-btn-bg: #0275D8;
$error-font-color: darkred;
$ok-font-color: #006600;

.image-register-input, .psl-send-input {
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 90%;
  margin-left: 2em;
  color: $input-font-color;
  font-size: larger;
}

.send-psl-status-msg {
  padding-left: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin-left: 2em;
  font-size: small;
  transition: opacity 1s linear;
  height: 30px;
  opacity: 1;
}

.regfee-msg {
  padding-bottom: 15px;
  font-size: small;
  transition: opacity 1s linear;
  height: 30px;
  opacity: 1;
}

.send-psl-error, .send-psl-ok {
  opacity: 0;
}

.send-psl-error {
  color: $error-font-color;
}

.send-psl-ok {
  color: $ok-font-color;
}

.register-button, .send-psl-button {
  @extend %flat-button;
  background-color: $left-menu-blue;
  font-family: $arimo;
  font-weight: bold;
  height: 50px;
  width: 120px;
  cursor: pointer;
  &:hover {
    color: $register-btn-bg;
    background-color: white;
    border: 3px solid $register-btn-bg;
  }
}

.reg-form-error {
  color: $error-font-color;
  font-size: small;
}
