.pastel-id-btn-wrapper {
  padding: 2px 2px 2px 0;
}
.pastel-id-btn-wrapper.pt-1 {
  padding-top: 1rem;
}

.passphrase {
  border-bottom-style: initial !important;
}

.error {
  font-size: smaller;
  color: red;
}

.or-record {
  color: #707090;
  font-size: smaller;
  padding: 3px;
}
