
 .stat-val {
   font-size: 2.6em;
   font-weight: 500;
 }

 .stat-key {
   font-size: 1.4em;
   font-weight: 200
 }

 .section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
   border-left: 1px dotted rgba(0, 0, 0, .2);
 }

 .container.profile {
   margin-top: 1%;
 }

 .control.is-pulled-left span.select {
   margin-right: 5px;
   border-radius: 2px;
 }

 .container.profile .profile-options .tabs ul li.link a {
   margin-bottom: 20px;
   padding: 20px;
   background-color: #fff;
 }

.profile-heading {
      background: $white;
}
.featured-product a {
    color: #4a4a4a;
}
.product-info-panel .inner-panel .panel-footer .footer-inner .featured-product .product-description {
    font-size: 70%;
    color: #999;
}

.tabs li.is-active a {
    border-bottom-color: $primary;
    color: $primary;
}

.profile-heading .column {
      align-self: center;
}

.blue-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(65,182,230,0.5);
    z-index: 0;
}
