.main {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/images/home_bg.jpg');
  background-repeat: no-repeat;
  background-position-y: 20px;
}

.wrapper {
  width: 336px;
  background-image: url('../../../assets/logo/Pastel_logo_Primary.png');
  background-repeat: no-repeat;
  background-position: 120px 81px;
  background-size: 100px;
  margin: auto;
  padding-top: 231px;
  span {
    color: var(--text-grey);
    font-size: 14px;
  }
}