.main {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/images/home_bg.jpg');
  background-repeat: no-repeat;
  background-position-y: 20px;
}

.wrapper {
  width: 336px;
  background-image: url('../../../assets/logo/Pastel_logo_Primary.png');
  background-repeat: no-repeat;
  background-position: 120px 81px;
  background-size: 100px;
  margin: auto;
  padding-top: 231px;
  .text {
    color: var(--text-grey);
    font-size: 14px;
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    color: var(--black);
    margin-top: 8px;
  }
}

.in-progress-msg {
  font-size: 14px;
  font-style: italic;
  margin-top: 42px;
  padding-left: 20px;
  color: var(--grey-3);
  line-height: 20px;
}
