$arimo: 'Arimo', sans-serif;
$header-bg-color: #f5f5f5;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$light-blue: #41B6E6;
$light-rose: #FC9BB3;
$left-menu-blue: #418CCB;
$left-menu-blue-light: #79bcfe;
$px1-border: 1px solid black;
$grey: #8A8A8A;
$blue-bg: #1779BA;
$footer-bg: #424242;
$bright-green: #3ADB76;
$aside-transition-time: 0.3s;
$aside-transition-effect: linear;
$header-height: 65px;

$primary: #41b6e6;
$secondary: #279989;
$accent: #7F00FF;

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%list-style-type-none {
  list-style-type: none;
}

%top-menu-padding {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

%flat-button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  color: white;
  font-size: smaller;
}


%flex-centered {
  display: flex;
  justify-content: center;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
