.pt-3 {
  padding-top: 3rem; }

.pl-3 {
  padding-left: 3rem; }

.pr-3 {
  padding-top: 3rem; }

.pb-3 {
  padding-left: 3rem; }

.pt-2 {
  padding-top: 2rem; }

.pl-2 {
  padding-left: 2rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pr-2 {
  padding-right: 2rem; }

.pt-0_5 {
  padding-top: 0.5rem; }

.pl-0_5 {
  padding-left: 0.5rem; }

.pb-0_5 {
  padding-bottom: 0.5rem; }

.pr-0_5 {
  padding-right: 0.5rem; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-col, .wellcome, .my-artwork, .my-collection, .following {
  display: flex;
  flex-direction: column; }

.nav-menu-point, .icon, .logo, .top-menu-btn {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px; }

.wallet-btn, .logout-btn {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  color: white;
  font-size: smaller; }

.left-menu-point, .flex-centered {
  display: flex;
  justify-content: center; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.page-header {
  background-color: #f5f5f5; }

.flex-end {
  justify-content: flex-end; }

.icons {
  font-size: x-large;
  cursor: pointer; }

.icon:hover {
  color: #8A8A8A; }

.nav-menu {
  font-family: "Source Sans Pro", sans-serif; }

.logo {
  padding-bottom: 0; }

.top-menu-btn {
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer; }

.image-logo {
  width: 144px;
  height: 34px; }

.wallet-btn {
  background-color: #41B6E6; }

.logout-btn {
  background-color: #FC9BB3; }

.aside {
  flex-basis: 25%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 50px; }

.main-page {
  flex-basis: 75%; }

.left-menu-point {
  padding-left: 30px;
  height: 55px;
  flex-direction: column;
  color: #418CCB; }
  .left-menu-point.selected {
    color: white;
    background-color: #418CCB; }

.wellcome, .my-artwork, .my-collection, .following {
  font-family: "Arimo", sans-serif; }

.greeting-text {
  font-size: larger;
  flex-basis: 30%;
  margin: 0;
  font-weight: bolder;
  font-family: "Arimo", sans-serif; }

.main-col-left, .main-col-right {
  flex-basis: 50%; }

.main-col-inner {
  height: 250px; }

.has-sold {
  border: 1px solid #C3D9CB;
  background-color: #E1FAEA;
  border-left: 10px solid #3ADB76;
  height: 50px;
  font-family: "Source Sans Pro", sans-serif; }
  .has-sold .close-icon {
    padding-right: 10px;
    cursor: pointer;
    color: #8A8A8A; }
    .has-sold .close-icon :hover {
      color: black; }

.profile-links, .has-sold {
  flex-basis: 80%; }

.profile-links {
  font-size: larger; }

.green {
  color: #3ADB76; }

.space-between {
  justify-content: space-between; }

.artist-badge {
  width: 85%;
  border: 1px solid black;
  height: 250px; }

.market-link, .art-wallet {
  flex-basis: 35%;
  height: 80px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer; }
  .market-link:hover, .art-wallet:hover {
    border: 2px solid #e91e63; }

.market-link {
  background-color: #1779BA;
  border: 2px solid #1779BA; }

.art-wallet {
  background-color: #FC9BB3;
  border: 2px solid #FC9BB3;
  margin-left: 10%; }

.my-artwork {
  font-family: "Source Sans Pro", sans-serif; }

.wrap {
  flex-wrap: wrap; }

.artworks {
  flex-basis: 80%; }

.art-item {
  padding-left: 5%;
  padding-bottom: 5%; }

.user-icon {
  color: #2196F3;
  font-size: 8rem;
  padding-left: 5%;
  padding-bottom: 5%; }

.star-icon {
  position: absolute;
  width: 73%; }

footer {
  background-color: #424242;
  width: 100%;
  height: 300px; }

.footer-row {
  flex-basis: 80%; }

.space-around {
  justify-content: space-around; }

.footer-tbl {
  color: white;
  font-family: "Source Sans Pro", sans-serif; }

.wallet-badge, .upload-btn {
  width: 250px;
  height: 90px;
  border-radius: 5px;
  margin-right: 5rem;
  font-family: "Source Sans Pro", sans-serif; }

.wallet-badge {
  background-color: #f5f5f5;
  color: #1779BA; }

.upload-btn {
  background-color: #3ADB76;
  color: white;
  cursor: pointer;
  font-size: 1.5rem; }

/*# sourceMappingURL=artist.css.map */