@import 'assets2/scss/common.scss';
@import 'assets2/scss/paddings';
@import 'assets2/scss/image_register';

//* {
//  outline: 1px solid red !important;
//}
.flex-row {
  @extend %flex-row;
}

.flex-col {
  @extend %flex-col;
}

.page-header {
  background-color: $header-bg-color;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.flex-end {
  justify-content: flex-end;
}

.nav-menu-point {
  @extend %top-menu-padding;
}

.icons {
  font-size: x-large;
  cursor: pointer;
}

.icon {
  @extend %top-menu-padding;

  &:hover {
    color: $grey;
  }
}

.nav-menu {
  font-family: $source-sans-pro;
}

.logo {
  @extend %top-menu-padding;
  padding-bottom: 0;
}

.top-menu-btn {
  @extend %top-menu-padding;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.image-logo {
  width: 144px;
  height: 34px;
}

.wallet-btn {
  @extend %flat-button;
  background-color: $light-blue;
}

.logout-btn {
  @extend %flat-button;
  background-color: $light-rose;
}

.aside {
  width: 25%;
  max-width: 150px;
  flex-basis: 25%;
  border-right: $px1-border;
  border-left: $px1-border;
  border-bottom: $px1-border;
  font-family: $source-sans-pro;
  position: fixed;
  left: 0;
  transition: left $aside-transition-time $aside-transition-effect;
}

.aside-hidden {
  width: 25%;
  max-width: 150px;
  flex-basis: 0;
  position: fixed;
  left: -25%;
  transition: left $aside-transition-time $aside-transition-effect;
}

.left-dummy {
  width: 25%;
  transition: width $aside-transition-time $aside-transition-effect;
}

.left-dummy-hidden {
  width: 0;
  transition: width $aside-transition-time $aside-transition-effect;
}

.main-page {
  flex-basis: 100%;
  transition: flex-basis $aside-transition-time $aside-transition-effect;
}

.main-page.menu-expanded {
  flex-basis: 75%;
}

.left-menu-point {
  @extend %flex-centered;
  padding-left: 30px;
  height: 55px;
  flex-direction: column;
  color: $left-menu-blue;

  &.selected {
    color: white;
    opacity: 84%;
    background-color: $left-menu-blue;
    &:hover {
      background-color: $left-menu-blue;
      color: white;
    }
  }

  cursor: pointer;

  &:hover {
    background-color: $left-menu-blue-light;
    color: black;
    opacity: 46%;

  }
}

.wellcome, .my-artwork, .my-collection, .following {
  @extend %flex-col;
  font-family: $arimo;
}

.flex-centered {
  @extend %flex-centered;
}

.greeting-text {
  font-size: larger;
  flex-basis: 30%;
  margin: 0;
  font-weight: bolder;
  font-family: $arimo;
}

.main-col-left, .main-col-right {
  flex-basis: 50%;
}

.main-col-inner {
  height: 250px;
}

.has-sold {
  border: 1px solid #C3D9CB;
  background-color: #E1FAEA;
  border-left: 10px solid $bright-green;
  height: 50px;
  font-family: $source-sans-pro;

  .close-icon {
    padding-right: 10px;
    cursor: pointer;
    color: $grey;

    :hover {
      color: black;
    }
  }
}

.profile-links, .has-sold {
  flex-basis: 80%;
}

.profile-links {
  font-size: larger;
}

.green {
  color: $bright-green;
}

.space-between {
  justify-content: space-between;
}

.artist-badge {
  width: 85%;
  border: 1px solid black;
  height: 250px;
}

.market-link, .art-wallet {
  flex-basis: 35%;
  height: 80px;
  color: white;
  font-family: $source-sans-pro;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(233, 30, 99);
  }
}

.market-link {
  background-color: $blue-bg;
  border: 2px solid $blue-bg;
}

.art-wallet {
  background-color: $light-rose;
  border: 2px solid $light-rose;
  margin-left: 10%;
}

.my-artwork, .addreses {
  font-family: $source-sans-pro;
}

.wrap {
  flex-wrap: wrap;
}

.artworks {
  flex-basis: 80%;
}

.art-item {
  padding-left: 5%;
  padding-bottom: 5%;
}

.user-icon {
  color: #2196F3;
  font-size: 8rem;
  padding-left: 5%;
  padding-bottom: 5%;
}

.star-icon {
  position: absolute;
  width: 73%;
}

footer {
  background-color: $footer-bg;
  width: 100%;
  height: 300px;
}

.footer-row {
  flex-basis: 80%;
}

.space-around {
  justify-content: space-around;
}

.footer-tbl {
  color: white;
  font-family: $source-sans-pro;
}

.wallet-badge {
  width: 250px;
  height: 90px;
  border-radius: 5px;
  margin-right: 5rem;
  font-family: $source-sans-pro;
}

.wallet-badge {
  background-color: $header-bg-color;
  color: $blue-bg;
}

.upload-btn {
  background-color: $left-menu-blue;
  color: white;
  cursor: pointer;
  font-size: 4rem;
  width: 150px;
  height: 150px;
  border-radius: 10%;
  font-family: $source-sans-pro;
}

.display-none {
  display: none;
}

.img-preview {
  width: 150px;
  height: 150px;
}

//TODO vertically align top menu using flexbox/justify-content-center

.wallet-address {
  font-size: 0.7em;
  background-color: $header-bg-color;
}

.half {
  flex-basis: 50%;
  width: 50%;
}

.bc-address {
  word-break: break-all;
}

.framed {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  padding: 5px;
  background-color: #fbfbfb;
}

.avagar-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
}

.artwork-container {

}

.artwork-img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 10%;
}

.main-content {
  padding-top: $header-height;
}

.full-width {
  width: 100%;
}

.copy {
  &:hover {
    color: $primary;
  }
}

.hidden-text-area {
  position: absolute;
  left: -9999px;
}

.conn-status-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8pt;
}

.conn-status-cnode.connected, .conn-status-pynode.connected {
  color: #1e801e;
}

.conn-status-cnode.pending, .conn-status-pynode.pending {
  color: #ffc754;
}

.conn-status-cnode.disconnected, .conn-status-pynode.disconnected {
  color: #ff2038;
}
