@import 'assets2/scss/common.scss';
@import 'assets2/scss/paddings';
@import 'assets2/scss/image_register';

$header-bg-color: #f5f5f5;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$light-blue: #41B6E6;
$light-rose: #FC9BB3;
$left-menu-blue: #418CCB;
$px1-border: 1px solid black;
$grey: #8A8A8A;
$blue-bg: #1779BA;
$footer-bg: #424242;
$bright-green: #3ADB76;



.flex-row {
  @extend %flex-row;
}

.flex-col {
  @extend %flex-col;
}

.page-header {
  background-color: $header-bg-color;
}

.flex-end {
  justify-content: flex-end;
}

.nav-menu-point {
  @extend %top-menu-padding;
}

.icons {
  font-size: x-large;
  cursor: pointer;
}

.icon {
  @extend %top-menu-padding;

  &:hover {
    color: $grey;
  }
}

.nav-menu {
  font-family: $source-sans-pro;
}

.logo {
  @extend %top-menu-padding;
  padding-bottom: 0;
}

.top-menu-btn {
  @extend %top-menu-padding;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.image-logo {
  width: 144px;
  height: 34px;
}

.wallet-btn {
  @extend %flat-button;
  background-color: $light-blue;
}

.logout-btn {
  @extend %flat-button;
  background-color: $light-rose;
}

.aside {
  flex-basis: 25%;
  border-right: $px1-border;
  border-left: $px1-border;
  border-bottom: $px1-border;
  font-family: $source-sans-pro;
  padding-bottom: 50px;
}

.main-page {
  flex-basis: 75%;
}

.left-menu-point {
  @extend %flex-centered;
  padding-left: 30px;
  height: 55px;
  flex-direction: column;
  color: $left-menu-blue;

  &.selected {
    color: white;
    background-color: $left-menu-blue;
  }
}

.wellcome, .my-artwork, .my-collection, .following {
  @extend %flex-col;
  font-family: $arimo;
}

.flex-centered {
  @extend %flex-centered;
}

.greeting-text {
  font-size: larger;
  flex-basis: 30%;
  margin: 0;
  font-weight: bolder;
  font-family: $arimo;
}

.main-col-left, .main-col-right {
  flex-basis: 50%;
}

.main-col-inner {
  height: 250px;
}

.has-sold {
  border: 1px solid #C3D9CB;
  background-color: #E1FAEA;
  border-left: 10px solid $bright-green;
  height: 50px;
  font-family: $source-sans-pro;

  .close-icon {
    padding-right: 10px;
    cursor: pointer;
    color: $grey;

    :hover {
      color: black;
    }
  }
}

.profile-links, .has-sold {
  flex-basis: 80%;
}

.profile-links {
  font-size: larger;
}

.green {
  color: $bright-green;
}

.space-between {
  justify-content: space-between;
}

.artist-badge {
  width: 85%;
  border: 1px solid black;
  height: 250px;
}

.market-link, .art-wallet {
  flex-basis: 35%;
  height: 80px;
  color: white;
  font-family: $source-sans-pro;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(233, 30, 99);
  }
}

.market-link {
  background-color: $blue-bg;
  border: 2px solid $blue-bg;
}

.art-wallet {
  background-color: $light-rose;
  border: 2px solid $light-rose;
  margin-left: 10%;
}

.my-artwork {
  font-family: $source-sans-pro;
}

.wrap {
  flex-wrap: wrap;
}

.artworks {
  flex-basis: 80%;
}

.art-item {
  padding-left: 5%;
  padding-bottom: 5%;
}

.user-icon {
  color: #2196F3;
  font-size: 8rem;
  padding-left: 5%;
  padding-bottom: 5%;
}

.star-icon {
  position: absolute;
  width: 73%;
}

footer {
  background-color: $footer-bg;
  width: 100%;
  height: 300px;
}

.footer-row {
  flex-basis: 80%;
}

.space-around {
  justify-content: space-around;
}

.footer-tbl {
  color: white;
  font-family: $source-sans-pro;
}

.wallet-badge, .upload-btn {
  width: 250px;
  height: 90px;
  border-radius: 5px;
  margin-right: 5rem;
  font-family: $source-sans-pro;
}

.wallet-badge {
  background-color: $header-bg-color;
  color: $blue-bg;
}

.upload-btn {
  background-color: $bright-green;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.display-none {
  display: none;
}

.img-preview {
  width: 150px;
  height: 150px;
}
//TODO vertically align top menu using flexbox/justify-content-center
