@font-face {
  font-family: 'Gill Sans';
  src: url('assets/font/GillSans.ttc');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/font/OpenSans-Light.ttf');
}

body {
  font-family: 'Gill Sans', sans-serif;
  background-color: white;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  // core colors
  --black: #27251F;

  --green: #279989;
  --green-1: #2DB398;
  --green-2: #259481;
  --green-balance: #6EA65A;

  --blue: #41B6E6;
  --blue-1: #41C2E6;
  --blue-2: #3DB2D9;
  --pink: #FC9BB3;
  --light-grey: #D7D2CB;
  --grey-1: #CDCFCF;
  --grey-2: #F8F8F8;
  --grey-3: #B1B7B9;
  --dark-grey: #363533;
  --error-red: #F24444;

  // other colors
  --text-grey: #505B61;
  --beige-bg: #F3F2F0;
  // sizes
  --menu-width: 189px;
}
