body {
  font-family: 'Gill Sans', sans-serif;
  background-color: white;
  margin: 0;
}

:root {
  // core colors
  --black: #27251F;
  --green: #279989;
  --blue: #41B6E6;
  --pink: #FC9BB3;
  --light-grey: #D7D2CB;

  // other colors
  --text-grey: #505B61;
}
